body {
    background-color: black;
    background-size:cover;     
    background-repeat:no-repeat;
    font-family: "Segoe UI", sans-serif; 
    color:whitesmoke
}
h1, h2 {
      text-align: center;
}

h3 {
      text-align: center;
      font-size: 1px;
}